@import "./variables.scss";

.banner {
  width: 100%;
  padding: 0;
  position: relative;

  .card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.338);
    padding: 20px;
    opacity: 0;
    transition: opacity 0.2s;
  }

  &:hover .card {
    opacity: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.container-caption {
  position: relative;
}

.container-caption::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -50px; /* Adjust the distance of the line from the text */
  transform: translateY(-50%);
  width: 10%; /* Adjust the thickness of the line */
  height: 1px; /* Adjust the height of the line */
  background-color: $color-tertiary; /* Adjust the color of the line */
}
.img-container {
  width: 100%;
  height: 100%;
  .shade {
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 33%,
      rgba(136, 136, 136, 0) 94%,
      rgba(255, 255, 255, 0) 100%
    );
    height: 100%;
    width: 100%;
  }
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.menu--light {
  background-color: $color-secondary;
  color: rgb(26, 26, 26);
}

.poster--container {
  width: 100%;
  position: relative;
  img {
    width: 100%;
    object-fit: cover;
  }
}
.hover-poster--container {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7189469537815126) 70%
  );
  transition: opacity 0.2s;

  &:hover {
    opacity: 1;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    360deg,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0.8786108193277311) 49%
  );

  opacity: 1;
  transition: opacity 0.3s ease;
}

.ico {
  display: flex;
  justify-content: center;
}

.btn--dark {
  background-color: $color-main;
  border: 1px solid $color-secondary;
  color: $color-secondary;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.5rem 1rem;
  transition: 0.2s;
  transition: 0.2s;

  &:hover {
    background-color: $color-secondary;
    color: $color-main;
  }
}
.btn--light {
  background-color: rgba(255, 255, 255, 0);
  border: $color-secondary;
  color: $color-main;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.5rem 1rem;
  transition: 0.2s;
  transition: 0.2s;

  &:hover {
    background-color: rgb(0, 0, 0);
    color: $color-secondary;
  }
}
.underline {
  height: 1px;
  width: 20%;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
}
.underline--light {
  height: 1px;
  width: 20%;
  background-color: rgb(211, 211, 211);
  margin: 0 auto;
}
.line-thin {
  background-color: white;
  width: 15%;
  height: 1px;
}
